body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10;
}

header {
    background-color:rosybrown;
    color:white smoke;
    padding: 30px;
    text-align: center;
}

nav {
    background-color:goldenrod;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 10;
    padding:0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration:gainsboro;
    padding: 10px;
    color:gainsboro;
}
section {
    padding: 30px;
}

footer {
    background-color: grey;
    color:yellow green;
    padding: 10px;
    text-align: center;
}